body{
    text-align: center;
    background-color: blue;
    color: cornsilk;
}


.container {
    margin-top: 49px;
    font-size: 24px;
    font-family: monospace;
}

.town {
    margin-top: 37px;
}

input.regNum {
    height: 30px;
}

.last-section {
    margin-top: 38px;
}


button.button-primary{
    width: 10%;
    height: 34px;
}

button.button-primary.show {
    margin-top: 30px;
    margin-bottom: 20px;
}

.last-section {
    margin-top: 53px;
}

ul#list {
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    display: inline;
    background: #d0b80c;
    margin-left: 10px;
    padding: 15px;
    border-radius: 20px;
    border: 10px solid #000;
    font-size: 15px;
}



